*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/* header */
header{
    display: flex;
    background-color: #120323;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
h1{
    color: #97bf04;
    margin-left: 1%;
}
/* main */
#container{
    display: flex;
    border: 2px;
}
h2{
    color: #120323;
    margin-bottom: 3%;
}
p{
    margin-bottom: 2%;
}
figure{
    margin: 5%;
    display: flex;
}
img[src="images/puffin-square.webp"]{
    border: 5px solid #d9043d;
    height: 275px;
    width: 275px;
    margin-right: 3%;
    margin-bottom: 3%;
}
/* aside */
h3{
    margin-bottom: 3%;
    margin-top: 2%;
}
aside{
    background-color: #97bf04;
    padding: 2%;
    padding-top: 1.5%;
    margin-top: 1%;
    max-width: 25%;
}
/* footer */
footer{
    background-color: #d9043d;
    color: white;
    text-align: center;
    padding: 2%;
    margin-top: 1%;
}
/* screen size changes */
@media screen and (max-width: 1000px){
    #container{
        flex-wrap: wrap;
    }
    aside{
        max-width: 100%;
    }
}
@media screen and (max-width: 768px){
    figure{
        flex-wrap: wrap;
    }
    img[src="images/puffin-square.webp"]{
        width: 100%;
        height: 100%;
    }
    header{
        padding-left: 16%;
        padding-right: 16%;
    }
}
@media screen and (max-width: 620px){
    header{
        padding-left: 4%;
        padding-right: 4%;
    }
}